@font-face {
  font-family: 'IstokWeb Bold';
  src: url("../fonts/IstokWeb-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'IstokWeb BoldItalic';
  src: url("../fonts/IstokWeb-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'IstokWeb Italic';
  src: url("../fonts/IstokWeb-Italic.ttf") format("truetype");
}

@font-face {
  font-family: 'IstokWeb Regular';
  src: url("../fonts/IstokWeb-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Lora Bold';
  src: url("../fonts/Lora-Bold.ttf") format("truetype");
}

@font-face {
  font-family: 'Lora BoldItalic';
  src: url("../fonts/Lora-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: 'Lora Italic';
  src: url("../fonts/Lora-Italic.ttf") format("truetype");
}

@font-face {
  font-family: 'Lora Regular';
  src: url("../fonts/Lora-Regular.ttf") format("truetype");
}
