:root {
  --base: #0b0c10;
  --base-light: #1f2833;
  --text-body: #c5c6c7;
  --heading: #66fcf1;
  --outline: #45a29e;
  --bg-grad: linear-gradient(to left top, #0b0c10, #121419, #171b21, #1b212a, #1f2833);
}

body {
  font-size: 14px;
  color: var(--text-body);
  background: var(--bg-grad);
  height: 100vh;
  width: 100vh;
}

h1,h2,h3,h4,h5,h6 {
  color: var(--heading);
}
